<html>
    <head>
      {% if title %}
      <title>{{ title }} - Fifa DB</title>
      {% else %}
      <title>Welkom bij Eredivisie spel van Bijker</title>
      {% endif %}
    </head>
    <body>
        <div>Administratief werk: <a href="/index">Home</a></div>
        <hr>
        <h1>Hello, {{ username }}!</h1>
        
        <p>{{ feedback}}</p>
        {% block content %}{% endblock %}
    </body>
</html>



<div>
    
    <a href="/index">Home</a>
    <a href="/addrecord">Invoer Records</a>
    <a href="/showTable">Toon Tabel:</a>
    <a href="/deleterecords">Records verwijderen:</a>
    <a href="/newplayerteam">Nieuw team samenstellen:</a>
    <a href="/users">Onderhoud gebruikers (users):</a>
</div>