{% extends "base.html" %}

{% block content %}
    <h1>Profiel (aanpassen):</h1>
    <p>Huidig gegevens:{{ info }}</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.bankaccount.label }}<br>
            {{ form.bankaccount(size=32) }}
        </p>
        <p>
            {{ form.action.label }}<br>
            {{ form.action}}
        </p>
        <p>{{ form.submit() }}</p>
        <p>{{ feedback}}</p>
    </form>
{% endblock %}